.card-content {
  display: flex;
  min-width: 240px;
  position: relative;
  justify-content: flex-end;
  overflow: hidden;
  transition: all 0.3s ease;
  cursor: pointer;
}

.card-content img {
  height: 150px;
  width: 50%;
}

.card-content .number-img {
  position: absolute;
  left: 15%;
  z-index: 0;
}

.card-content .poster-img {
  z-index: 20;
}

.tvshows-container {
  margin-top: 40px;
}

.movies-container .cards-list .card-content:nth-child(1) .number-img {
  left: 30%;
  height: 160px;
}
.tvshows-container .cards-list .card-content:nth-child(1) .number-img {
  left: 30%;
  height: 160px;
}
