.hero-container {
  max-width: 100vw;
}

.hero-banner {
  min-width: 100%;
  height: 100%;
  mask-image: linear-gradient(to right, transparent, black 75%),
    linear-gradient(to top, transparent, black 90%);
  mask-composite: intersect;
}

.hero {
  position: relative;
  max-height: 500px;
}

.content {
  position: absolute;
  top: 200px;
  max-width: 100%;
  z-index: 2;
  padding: 0 4%;
}

.content .movie-desc {
  margin-bottom: 25px;
  font-size: 16px;
  max-width: 600px;
}
.content .movie-title {
  margin-bottom: 20px;
  font-size: 36px;
  max-width: 400px;
  text-shadow: 0px 0px 1px white;
}

.btns {
  display: flex;
  gap: 10px;
}

.btns .btn img {
  width: 24px;
}
.btns .btn {
  padding: 8px 24px;
  display: flex;
  align-items: center;
  gap: 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
}
.btns .btn.dark-btn {
  color: white;
  background-color: #6d6d6eb3;
}
.btns .btn.dark-btn:hover {
  background-color: #6d6d6e66;
}
.btns .btn:hover {
  background-color: #ffffffbf;
}

.cards-list .card-data p {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.more-cards {
  margin-top: 60px;
}

/* Default styles already provided */

/* Small devices: up to 576px */
@media (max-width: 576px) {
  .content {
    top: 130px;
    padding: 0 4%;
  }

  .content .movie-title {
    font-size: 22px;
    max-width: 100%;
  }

  .content .movie-desc {
    font-size: 14px;
    max-width: 70%;
  }

  .btns .btn {
    font-size: 14px;
    padding: 8px 20px;
  }
  .more-cards {
    margin-top: 80px;
  }

  .hero{
    min-height:350px;
  }
}

/* Medium devices: 577px to 768px */
@media (min-width: 577px) and (max-width: 768px) {
  .content {
    top: 140px;
    padding: 0 4%;
  }

  .content .movie-title {
    font-size: 26px;
    max-width: 80%;
  }

  .content .movie-desc {
    font-size: 15px;
    max-width: 70%;
  }

  .btns .btn {
    font-size: 15px;
    padding: 8px 20px;
  }
  .more-cards {
    margin-top: 80px;
  }
}

/* Large devices: 769px to 992px */
@media (min-width: 769px) and (max-width: 992px) {
  .content {
    top: 160px;
    padding: 0 4%;
  }

  .content .movie-title {
    font-size: 30px;
  }

  .content .movie-desc {
    font-size: 15px;
  }
  .content .movie-desc {
    max-width: 70%;
  }
}

/* Extra large devices: 993px and up */
@media (min-width: 993px) {
  .content {
    top: 200px;
    padding: 0 4%;
  }

  .content .movie-title {
    font-size: 36px;
  }

  .content .movie-desc {
    font-size: 16px;
  }

  .btns .btn {
    font-size: 16px;
  }
}
