.hero-container {
  max-width: 100vw;
}

.hero-banner {
  min-width: 100%;
  mask-image: linear-gradient(to right, transparent, black 75%),
    linear-gradient(to top, transparent, black 90%);
  mask-composite: intersect;
}

.hero {
  position: relative;
}
.content {
  position: absolute;
  bottom: 0;
  max-width: 100%;
  z-index: 2;
  padding: 0 4%;
}

.title-img {
  width: 90%;
  max-width: 420px;
  margin-bottom: 20px;
}

.content .movie-desc {
  margin-bottom: 20px;
  font-size: 17px;
  max-width: 600px;
}

.btns {
  display: flex;
  gap: 10px;
}

.btns .btn img {
  width: 24px;
}
.btns .btn {
  padding: 8px 24px;
  display: flex;
  align-items: center;
  gap: 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
}
.btns .btn.dark-btn {
  color: white;
  background-color: #6d6d6eb3;
}
.btns .btn.dark-btn:hover {
  background-color: #6d6d6e66;
}
.btns .btn:hover {
  background-color: #ffffffbf;
}

.cards-list .card-data p {
  position: absolute;
  bottom: 10px;
  right: 10px;
}
