* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

body,
#root,
html {
  background: #141414;
  min-width: 100vw;
  min-height: 100vh;
  color: white;
  overflow-x: hidden;
}

.Toastify__toast-container {
  z-index: 9999 !important;
}