.movie-cards-container {
  max-width: 100%;
  margin-top: 100px;
}

.movie-cards-container h3 {
  margin: 10px 0px;
  font-size: 19px;
  font-weight: 400;
  text-shadow: 0px 0px 1px white;
}

.cards-list {
  display: flex;
  gap: 10px;
  overflow: auto;
  overflow-y: hidden;
}

.card-data {
  min-width: 240px;
  max-height: 140px;
  border-radius: 4px;
  overflow: hidden;
  position: relative;
  transition: all 0.3s ease;
  cursor: pointer; 
}


.card-data img {
  width: 240px;
  height: 140px;
}

.card-data p {
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-size: 11px;
}

.cards-list::-webkit-scrollbar {
  display: none;
}

.more-cards {
  padding: 0 4%;
  margin-top: -100px;
}
.more-cards .movie-cards-container {
  margin-top: 40px;
}

/* Default styles already exist */

/* Extra Small Devices: up to 460px */
@media (max-width: 460px) {
  .card-data {
    min-width: 160px;
    max-height: 100px;
  }

  .card-data img {
    width: 160px;
    height: 100px;
  }

  .card-data p {
    font-size: 10px;
    bottom: 6px;
    left: 8px;
  }

  .movie-cards-container h3 {
    font-size: 16px;
  }
  .more-cards {
    margin-top: 60px;
  }
}

/* Small Devices: 481px to 767px */
@media (min-width: 481px) and (max-width: 767px) {
  .card-data {
    min-width: 160px;
    max-height: 110px;
  }

  .card-data img {
    width: 160px;
    height: 110px;
  }

  .card-data p {
    font-size: 10.5px;
  }

  .movie-cards-container h3 {
    font-size: 17px;
  }
  .more-cards {
    margin-top: 60px;
  }
}

/* Medium Devices: 768px to 991px */
@media (min-width: 768px) and (max-width: 991px) {
  .card-data {
    min-width: 200px;
    max-height: 120px;
  }

  .card-data img {
    width: 200px;
    height: 120px;
  }

  .card-data p {
    font-size: 11px;
  }

  .movie-cards-container h3 {
    font-size: 18px;
  }
  .more-cards {
    margin-top: 0px;
  }
}

/* Large Devices: 992px and above */
@media (min-width: 992px) {
  .card-data {
    min-width: 240px;
    max-height: 140px;
  }

  .card-data img {
    width: 240px;
    height: 140px;
  }

  .card-data p {
    font-size: 11px;
  }

  .movie-cards-container h3 {
    font-size: 19px;
  }
  .more-cards {
    margin-top: 0px;
  }
}
